%form{:method => 'get', :action => '/search'}
  %input{:type => 'search', :name => 'query', :placeholder => 'Poney.avi',:value => params[:query]}
  %input{:type => "submit", :value => "Search", :class => "button"}
